# Created by .ignore support plugin (hsz.mobi)
test/
migrations/
.idea/
build/
contracts/Migrations.sol
.gitignore
.npmignore
diagram1.jpg
package.json
package-lock.json
README.md
truffle.js
truffle-config.js
